.cv{
    scroll-snap-align: start;
    display: flex;
    width: 75%;
    height: 100vh;
    margin: auto;
    padding-top: 10%;
    .stationen{
        width: 50%;
        position: relative;
        .code-klammern{
            height: 80%;
        }
        .content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .trenner{
            width: 3px;
            height: 89%;
            background-color: orange;
            position: absolute;
            left: 50%;
            top: 2%;
        }
    }
    .infos{
        width: 50%;
        z-index: 5;
        margin-left: 20px;
        .close-button{
            display: none;
        }
        img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 30px;
            border-radius: 50%;
            transition: 0.5s;
            border: 1px solid rgba(128, 128, 128, 0.265);
        }
    }
}


@media screen and (max-width: 770px) { 
    .cv{
        padding-top: 50px;
        width: 90%;
        position: relative;
        .stationen{
            width: 100%;
            font-size: 0.8rem;
        }
        .infos{
            position: absolute;
            background-color: rgba(33, 33, 33, 0.403);
            backdrop-filter: blur(10px);
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            margin-left: 0px;
            top: 50px;
            bottom: 50px;
            .infotext{
                height: 240px;
                overflow-x: scroll;
            }
            img{
                margin: auto;
            }
            img:hover{
                scale: 1;
                border-radius: 50%;
                height: 200px;
            }
            .close-button{
                text-align: right;
                display: block;
                margin-left: auto;
            }
        }
    }
}
