.projects{
    width: 75%;
    scroll-snap-align: start;
    height: 100vh;
    margin: auto;
    padding-top: 5%;
    position: relative;
    z-index: 5;
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        gap: 25px;
    }
    @media screen and (max-width: 770px){
        padding-top: 10%;
    }
}