.code-klammern{
    width: 100%;
    .html-style-tags{
        color: orange;
        margin: 10px 0 10px 0;
        &.closed {
            text-align: right;
        }
    }
}
// @media screen and (max-width: 770px) { 
//     .code-klammern{
//         .html-style-tags{
//             margin: 0;
//         }
//     }
// }