header {
    height: 100vh;
    scroll-snap-align: start;
    position: relative; /* Make header a positioning context for absolute positioning */
    
    .profile {
        display: flex;
        position: relative;
        width: 75%;
        overflow: hidden;
        height: 100%;
        padding-top: 200px;
        margin: auto;

        .name {
            width: 200px;
            animation: parralaxx 0.5s linear infinite;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);

            h1 {
                font-size: 3rem;
                font-weight: 200;
            }
        }

        .short-description {
            width: 400px;
            margin-left: auto;
            animation: parralaxx 0.5s linear infinite;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);

            .about-me {
                font-size: 1.4rem;
            }
        }

        img {
            position: absolute;
            width: 100%;
            bottom: 50px;
            margin-left: 5%;
            animation: parralax 0.5s linear infinite;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
        }
    }

    .verlauf {
        position: absolute;
        top: 350px;
        width: 100%;
        height: 110%;
        animation: parralaxverlauf 0.5s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
    }
}

@keyframes parralax {
    to {
        transform: translateY(1000px);
    }
}

@keyframes parralaxx {
    to {
        transform: translateY(750px);
    }
}

@keyframes parralaxverlauf {
    to {
        transform: translateY(-100px);
    }
}