.station{
    width: 50%;
    position: relative;
    h2{
        color: orange;
    }
    &.active{
        text-decoration: underline;        
        &.left{
            h2::before{
                content: "*";
            }
        }
        &.right{
            h2::after{
                content: "*";
            }
        }
        h2{
            font-weight: 500;
        }
    }
    ul{
        list-style: none;
    }
    &.left{
        text-align: end;
        padding-right: 10px;
        h2::after{
            content: '🔶'; /* Inhalt des After-Elements */
            position: absolute;
        }
    }
    &.right{
        margin-left: 52%;
        h2::before{
            content: '🔶'; /* Inhalt des After-Elements */
            position: absolute;
            transform: translateX(-100%);
        }
    }
    @media screen and (max-width: 770px){
        &.left{
            text-align: end;
            padding-right: 8px;
        }
        &.right{
            margin-left: 53.2%;
        }
        li{
            display: none;
        }
        li:nth-child(1){
            display: block;
        } 
        li:nth-child(2){
            display: block;
        }
    }
}