.nav{
    width: 75%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 20px;
    z-index: 99;
    ul{
        display: flex;
        &.navigation{
            gap: 30px;
        }
        p{
            transition: 0.5s;
            transform: 0.5s;
        }
        .active{
            color: orange;
            text-decoration: underline;
            scale: 1.1;
        }
    }
    @media screen and (max-width: 770px) { 
        width: 100%; 
        font-size: 0.7rem;
        position: sticky;
        bottom: 20px;
    }
}